extends layout

block content
  div.container
    div.row
      a(href='/frydlogin')
        Button.secondary.centerblock Login with Fryd
      a(href=register)
        Button.centerblock Create Fryd account
    div.centerblock.info.border
      |To use snake-fryd you are required to register an account at fryd. Fryd is a brand new gamification platform that enables you to play with competition.
